@model CarApp.Models.Licence_plates
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>CarApp</title>
</head>
<body>
    <h1>Licence Plates</h1>
    @Html.ActionLink("Police Cars Only", "SearchPolice", "Car") <br />
    @Html.ActionLink("Diplomats", "SearchDiplomat", "Car")

    <form method="post" action="/seach">
        <p>
            <label for="Plate">Search licence plate</label>
            <input type="text" id="Plate" name="Licence_plates.Plate" />@Html.ValidationMessageFor(model => model.Plate)
        </p>
        <input type="submit" value="Search">
    </form>
</body>
</html>
